<nav class="navbar navbar-expand-lg bg-body-tertiary px-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://www.clipartmax.com/png/full/2-21295_hospital-clip-art-logotipo-de-un-hospital.png"
        alt="Logo"
        width="150"
        height="50"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/landing"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="patients">Pacientes potenciales</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Conócenos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/landing#about">Nosotros</a></li>
            <li>
              <a class="dropdown-item" href="" target="_blank">Archivos</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" target="_blank" href="">Dudas</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/landing#contact">Contacto</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
