<footer id="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>¡Lleva tú el Control!</h4>
          <p>
            Comprometidos con brindar servicios a la comunidad, por medio de
            servicios de calidad y calidez, con personal altamente capacitado.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>HOSPITAL</span></strong
      >. Todos los derechos reservados.
    </div>
    <div class="credits">
      Realizado por <a>Javier Rivas</a>
    </div>
  </div>
</footer>
